
<h1> Hi </h1>
<%= @question_id %>
<br>
<%= @relation_keywords %>
<br>
<%= @relations %>
<p>
    <%= @emotions %>
    <%= @validKeywords %>
</p>
<% @validKeywords.each_with_index do |keyword,index|%>
	<%= keyword.keyword %>
	<%= keyword.relevance %>
<% end %>


